<launch>
  <env name="ROSCONSOLE_FORMAT" value="${logger}: ${message}"/>

  <arg name="robot_ns" default="turtlebot"/>
  <arg name="world_frame" default="map"/>
  <arg name="nbv_yaml_file" default="nbv_planner_fast"/>

  <node name="robot_pose" pkg="fkie_nbv_planner" type="odom2Posestamped.py" clear_params="true">
    <param name="capability_group" value="base"/>
    <remap from="odom" to="turtlebot3/odom"/>
    <remap from="pose" to="$(arg robot_ns)/pose"/>
  </node> 


  <!-- Main planner -->
  <node name="fkie_nbv_planner" pkg="fkie_nbv_planner" type="nbvplanner_node" launch-prefix="gdb -ex run -ex bt -batch --args" ns="$(arg robot_ns)" clear_params="true">
    <param name="capability_group" value="planner"/>
    <param name="nm/kill_on_stop" value="300"/>
    <param name="world_frame" value="$(arg world_frame)" />
    <rosparam command="load" file="$(find fkie_nbv_planner)/config/$(arg nbv_yaml_file).yaml" />
    <!-- <remap from="camera_pose" to="$(arg robot_ns)/camera_pose"/> -->
    <remap from="octomap" to="octomap_3d"/>
    <remap from="/$(arg robot_ns)/robot_bbx" to="/$(arg robot_ns)/$(arg robot_ns)_mbf/global_costmap/footprint"/>
  </node>

</launch>
